@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    background-color: #09090b;
    color: #f8fafc;
    font-family: 'Inter', system-ui, sans-serif;
    overflow: hidden;
    /* App-like feel */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #18181b;
}

::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #52525b;
}